<%= form_for([@member, @task]) do |f| %>
  <p><%= @member.errors.full_messages.first if @task.errors.any? %></p>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <br/>
  <br/>

  <%= f.label :location %>
  <%= f.text_field :location %>
  <br/>
  <br/>

  <%= f.label :date %>
  <%= f.text_field :date %>
  <br/>
  <br/>

  <%= f.label :note %>
  <%= f.text_field :note %>
  <br/>
  <br/>

  <%= f.submit %>

<% end %>
