<%= form_for([@family, @member]) do |f| %>
  <p><%= @family.errors.full_messages.first if @member.errors.any? %></p>


<%= f.label :name %>
<%= f.text_field :name %>
<br/>
<br/>

<%= f.label :date_of_birth %>
<%= f.text_field :date_of_birth %>
<br/>
<br/>

<%= f.label :img_url %>
<%= f.text_field :img_url %>
<br/>
<br/>

<%= f.label :email %>
<%= f.text_field :email %>
<br/>
<br/>

<%= f.label :phone %>
<%= f.text_field :phone %>
<br/>
<br/>

<%= f.submit %>

<% end %>
