<%= form_for([@family, @member]) do |f| %>
  <p><%= @family.errors.full_messages.first if @member.errors.any? %></p>


<%= f.label :date_of_birth %>
<%= f.text_field :date_of_birth %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :phone %>
<%= f.text_field :phone %>

<%= f.submit %>

<% end %>
