<h2><%= link_to "Family Activity Planner Home", families_path %></h2>

<h2>Edit <%= @member.name %> </h2>

<%= render 'form' %>

<p><%= link_to 'BACK to ' + @member.name, family_member_path(@family, @member) %></p>

<p><%= link_to 'DELETE ' + @member.name, family_member_path(@family, @member), method: :delete, class: 'delete' %></p>
