
<h2><%= link_to "BACK to Families", families_path %></h2>

<h2><%= @member.name %></h2>
<h3>Member of Family <%= @family.name %></h3>
<img src="<%= @member.img_url %>" width="400px">

<h3>Activity or Task <%= link_to "(Add NEW)", new_member_task_path(@member) %></h3>

<% @member.tasks.each do |task| %>
  <p>What: <%= task.description %></p>

  <p>Where: <%= task.location %></p>

  <p>When: <%= task.date %> </p>

  <p>Notes: <%= task.note %> </p>

  <p><%= link_to "EDIT", edit_member_task_path(@member, task) %> | <%= link_to "DELETE", member_task_path(@member, task),
          method: :delete,
          data: { confirm: "Are you certain?" } %></p>
<% end %>
